@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-lato: "Lato", system-ui, serif;
}

@theme {
	--color-primary: #005f73ff; /* Midnight Green */
	--color-secondary: #e9d8a6ff; /* Vanilla */
	--color-accent: #ee9b00ff; /* Gamboge */
	--color-neutral: #94d2bdff; /* Tiffany Blue */
	--color-base: #001219ff; /* Rich Black */
	--color-alert: #ca6702ff; /* Alloy Orange */
	--color-warning: #bb3e03ff; /* Rust */
	--color-danger: #ae2012ff; /* Rufous */
	--color-success: #0a9396ff; /* Dark Cyan */
	--color-info: #9b2226ff; /* Auburn */
}
