@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
	--font-lato: "Lato", system-ui, serif;
}

@theme {
	--color-text-primary: hsla(53, 100%, 96%); /* Ivory (Light Background) */
	--color-text-secondary: hsla(
		229,
		11%,
		72%
	); /* French Gray (Surface Elements) */
	--color-primary: hsla(
		178,
		80%,
		43%
	); /* Fluorescent Cyan (Main Buttons, Highlights) */
	--color-primary-hover: hsla(
		178,
		100%,
		45%
	); /* Robin Egg Blue (Hover Effects) */
	--color-primary-active: hsla(
		177,
		100%,
		31%
	); /* Persian Green (Active States) */
	--color-accent: hsla(42, 100%, 70%); /* Sunglow (CTAs, Badges) */
	--color-border: hsla(229, 10%, 55%); /* Muted Gray (Borders, Dividers) */
	--color-background: hsla(193, 53%, 3%); /* Dark Overlay for Modals */
	--color-surface: hsla(188, 27%, 6%); /* French Gray (Surface Elements) */
	--color-error: hsla(0, 100%, 68%); /* Bittersweet (Errors, Alerts) */
	--color-smoke: hsla(0, 0%, 91%);
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
}

@theme {
	--drop-shadow-text: 0px 2px 4px rgba(0, 0, 0, 1);
}
